@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.primary {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  background-color: $color-purple-primary;
  user-select: none;
  padding: 16px 24px;
  border-radius: 12px;
  transition: all 0.1s ease-in-out;

  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: $color-off-white;

  &:hover {
    background-color: $color-purple-400;
  }
  &:focus {
    background-color: $color-purple-primary;
  }
  &:active {
    background-color: $color-off-black;
  }
  &:disabled {
    opacity: 50%;
    cursor: not-allowed;
    background-color: $color-purple-400;
  }

  @include medium {
    font-size: 24px;
    line-height: 24px;
    padding: 24px 32px;
  }
}

.secondary {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  background-color: transparent;
  user-select: none;
  padding: 16px 24px;
  border: 1px solid $color-purple-primary;
  border-radius: 12px;
  transition: all 0.1s ease-in-out;

  font-weight: 600;
  font-size: 10px;
  line-height: 120%;
  color: $color-purple-primary;

  &:hover {
    color: $color-purple-400;
    border-color: $color-purple-400;
  }
  &:focus {
    color: $color-purple-primary;
    border-color: $color-purple-primary;
  }
  &:active {
    color: $color-off-black;
    border-color: $color-off-black;
  }
  &:disabled {
    opacity: 50%;
    cursor: not-allowed;
    color: $color-purple-400;
    border-color: $color-purple-400;
  }
  @include medium {
    font-size: 16px;
    line-height: 24px;
    padding: 16px 24px;
  }
}

.small {
  padding: 8px 12px;
  font-size: 12px;
  line-height: 16px;
}

.medium {
  padding: 16px 24px;
  font-size: 15px;
  line-height: 24px;
}

.large {
  padding: 24px 32px;
  font-size: 20px;
  line-height: 32px;
}
