@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

// fade in animation
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.3s ease-in-out;
}

.backdrop {
  position: fixed;
  inset: 0;
  background: black;
  opacity: 0.5;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > div {
    border-radius: 1rem;
    background: white;
    z-index: 50;
    padding: 1rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  > button {
    position: absolute;
    top: 0;
    right: 0;
  }
}
