@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

// error
$color-red-100: #ffe5f2;
$color-red-100: #ff5da1;
$color-red-primary: #ed2e7e;
$color-red-400: #98014c;

// details
$color-blue-50: #f2f5ff;
$color-blue-100: #e5ebfe;
$color-blue-200: #9bb2fd;
$color-blue-300: #063ef9;
$color-blue-400: #032596;

// action
$color-purple-50: #f7f2ff;
$color-purple-100: #eee5fe;
$color-purple-200: #c19cfc;
$color-purple-primary: #6308f7;
$color-purple-400: #3c0594;

// neutral
$color-off-white: #fcfcfc;
$color-background: #f7f7fc;
$color-input: #eff0f7;
$color-line: #d9dbe9;
$color-placeholder: #a0a3bd;
$color-label: #6e7191;
$color-body: #4e4b66;
$color-ash: #262338;
$color-off-black: #14142b;

// success
$color-success-50: #f2fff9;
$color-success-100: #e5fff2;
$color-success-200: #4cffa6;
$color-success-400: #00994d;

// warning
$color-warning-50: #fffff2;
$color-warning-100: #fefee5;
$color-warning-200: #f2f294;
$color-warning-300: #eeee2c;
$color-warning-primary: #f4b740;
$color-warning-400: #6a5300;

// fonts
$primary_font_family: "Poppins", sans-serif;
