@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px 57px 20px;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.filters {
  margin-top: 22px;
  width: 100%;
  display: flex;
  gap: 11px;

  * {
    width: 100%;
  }
}

.cards {
  margin-top: 34px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px 11px;
}

.add {
  margin: 32px 0;
  width: 100%;
  display: flex;

  * {
    width: 100%;
  }
}

.delete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > h1 {
    font-weight: 700;
    font-size: 24px;
    color: $color-off-black;
    margin-bottom: 1rem;
  }

  > p {
    font-weight: 400;
    font-size: 15px;
    color: $color-body;
    margin-bottom: 2rem;

    > span {
      font-weight: 600;
      font-size: 13px;
      font-style: italic;
      margin-top: 1rem;
    }
  }

  > div {
    width: 100%;
    display: flex;
    justify-content: space-around;

    > :first-child {
      margin-right: 2rem;
    }
  }
}

.modalSort {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  > :first-child {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

.modalSelect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  > :first-child {
    margin-top: 37px;
    margin-bottom: 37px;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: $color-body;

    .radio {
      // circle with radio button
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 1px solid $color-body;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }
    .active {
      background-color: $color-purple-primary;
    }
  }
}

.noActors {
  padding-inline: 20px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .sad {
    font-size: 5rem;
    margin-bottom: 28px;
  }

  > span {
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: $color-off-black;
    text-align: center;
    margin-bottom: 24px;
  }
}
