@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

// fade in animation
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  position: fixed;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  animation: fadeIn 0.3s ease-in;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;

  font-weight: 800;
  font-size: 15px;
  line-height: 24px;
}

.success {
  background-color: $color-success-100;
  color: $color-success-400;
  padding: 1rem;
  border-radius: 8px;
}

.warning {
  background-color: $color-warning-100;
  color: $color-warning-400;
  padding: 1rem;
  border-radius: 8px;
}

.danger {
  background-color: $color-red-100;
  color: $color-red-primary;
  padding: 1rem;
  border-radius: 8px;
}
