@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

// slide up animation
@keyframes slideUpFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

// fade in animation
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.3s ease-in-out;
}

.backdrop {
  position: fixed;
  inset: 0;
  background: black;
  opacity: 0.5;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > div {
    border-radius: 24px 24px 0px 0px;
    background: white;
    z-index: 50;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    min-height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: slideUpFromBottom 0.3s ease-in-out;
  }

  > button {
    position: absolute;
    top: 0;
    right: 0;
  }
}
