@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.backdrop {
  position: fixed;
  inset: 0;
  background: black;
  opacity: 0.5;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > div {
    border-radius: 24px 24px 0px 0px;
    background: white;
    z-index: 50;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    min-height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  > button {
    position: absolute;
    top: 0;
    right: 0;
  }
}
