@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  // outline: 1px solid black;
  padding: 1rem 0;
  -webkit-box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.3);
}

.logo {
  font-size: 1rem;
  font-weight: 700;
  line-height: 19.2px;
  color: $color-off-black;
}
