@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid $color-line;
  z-index: 40;
  padding: 0 20px;

  @include medium {
    padding: 0 36px;
  }
}

.logo {
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 15.6px;
  color: $color-off-black;
  padding: 20px 0;

  @include medium {
    padding: 42px 0;
    font-size: 20px;
    line-height: 24px;
  }
}

.date {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 15.6px;
  color: $color-off-black;

  @include medium {
    padding: 42px 0;
    font-size: 20px;
    line-height: 24px;
  }
}
