@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
  height: 100vh;
  width: 100%;
  padding: 50px 20px 57px 20px;
  border: 1px solid black;

  .content {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > h1 {
      font-weight: 700;
      font-size: 24px;
      line-height: 40px;
      color: $color-off-black;
      margin-bottom: 2rem;
    }

    > div {
      width: 100%;
      display: flex;
      flex-direction: column;

      > label {
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: $color-body;
        margin-bottom: 1rem;
      }

      > input {
        margin-bottom: 1.5rem;
        border-radius: 10px;
        background-color: $color-input;
        padding: 1rem;
      }

      > textarea {
        margin-bottom: 1.5rem;
        border-radius: 10px;
        background-color: $color-input;
        padding: 1rem;
        overflow: hidden;
      }
    }

    .actions {
      width: 100%;
      text-align: center;

      > button {
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        margin-top: 16px;
      }
    }
  }
}
